<%-include("header");-%>
<h2>This is About Page</h2>
<p>cftdvgasyhbjkn dovihsjc nxvm ijvo scvcznj kmxbv Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed officia non doloremque qui pariatur. Debitis voluptatum quam dolorum, aperiam asperiores necessitatibus accusantium quae, magnam eius veniam placeat, a accusamus aspernatur vitae rem neque. Perferendis recusandae commodi, natus, molestias unde modi deserunt quasi dolores provident saepe deleniti iusto inventore enim praesentium!</p>
<%-include("footer");-%>